@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.content-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  margin: 5px 0;
  opacity: 0;
  transform: translateY(-40px);
  animation: slideInFromTop 0.5s forwards;
  width: 100%;
}

@keyframes slideInFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-container p {
  margin: 0;
  display: flex;
  align-items: center;
}

.content-input {
  border: none;
  background: transparent;
  outline: none;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffcc00;
  width: 70vw;
  padding: 2px 0;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.1;
}

.content-input::placeholder {
  color: rgba(255, 204, 0, 0.5);
}

.content-input:hover,
.content-input:focus,
.content-input:active {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.content-container > div {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 5px;
}

.content-container:hover > div {
  opacity: 1;
}

.content-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 2px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.content-container button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.content-comment-enter {
  border: none;
  border-bottom: 1px dashed #bbb;
  background: transparent;
  padding: 2px;
  margin-right: 5px;
  font-family: "Caveat", cursive;
  outline: none;
}

.content-comment-display {
  right: 10px;
  font-size: 0.8rem;
  color: #444;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: right;
  font-style: italic;
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.content-container:hover .content-comment-display {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.confirm-delete-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.confirm-delete-content {
  background-color: rgba(30, 30, 30, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 204, 0, 0.2);
  backdrop-filter: blur(5px);
}

.scale-in {
  animation: scaleIn 0.3s ease forwards;
}

.scale-out {
  animation: scaleOut 0.3s ease forwards;
}

.confirm-delete-content p {
  margin: 0 0 15px;
  font-size: 1.5rem;
  color: #ffcc00;
  font-family: "Caveat", cursive;
  font-weight: 700;
}

.confirm-delete-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.confirm-button,
.cancel-button {
  padding: 8px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Caveat", cursive;
  font-weight: 700;
}

.confirm-button {
  background-color: rgba(200, 0, 0, 0.6);
  color: white;
}

.confirm-button:hover {
  background-color: rgba(255, 0, 0, 0.7);
  transform: translateY(-2px);
}

.cancel-button {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffcc00;
}

.cancel-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(-2px);
}
