@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.subsubheading-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 6px;
  margin: 5px 0;
  opacity: 0;
  transform: translateY(-50px);
  animation: slideInFromTop 0.5s forwards;
  width: 100%;
}

@keyframes slideInFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subsubheading-container h4 {
  margin: 0;
  display: flex;
  align-items: center;
}

.subsubheading-input {
  border: none;
  background: transparent;
  outline: none;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 1.8rem;
  color: #000000;
  width: 70vw;
  padding: 2px 0;
  resize: none;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.1;
}

.subsubheading-input::placeholder {
  color: #000000;
}

.subsubheading-input:hover,
.subsubheading-input:focus,
.subsubheading-input:active {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}

.subsubheading-container > div {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  gap: 5px;
}

.subsubheading-container:hover > div {
  opacity: 1;
}

.subsubheading-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 2px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.subsubheading-container button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.subsubheading-comment-enter {
  border: none;
  border-bottom: 1px dashed #bbb;
  background: transparent;
  padding: 2px;
  margin-right: 5px;
  font-family: "Caveat", cursive;
  outline: none;
}

.subsubheading-comment-display {
  right: 10px;
  font-size: 0.8rem;
  color: #444;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: right;
  font-style: italic;
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subsubheading-container:hover .subsubheading-comment-display {
  opacity: 1;
}
